aiohttp==2.0.7
git+git://github.com/odrling/peony-twitter@a962beb#egg=peony-twitter
git+git://github.com/dbrattli/aioreactive@442adf6#egg=aioreactive
aiohttp-jinja2==0.13.0
peewee==2.9.2
peewee-async==0.5.7
aiopg==0.13.0